{% extends 'base.html.twig' %}

{% block title %}Accueil -
	{{ parent() }}
{% endblock %}

{% block body %}
	<h2 class="mb-4">Bienvenue chez Super Légumes</h2>
	<p class="lead">Découvrez nos héros extraordinaires, chacun avec ses propres super-pouvoirs uniques!</p>
	<div class="row mt-5">
		<div class="col-md-4">
			<h3>Notre Mission</h3>
			<p>Chez Super Légumes, nous célébrons la diversité et les capacités uniques de chaque individu. Notre mission est de montrer que chacun peut être un héros, quelles que soient ses différences.</p>
		</div>
		<div class="col-md-4">
			<h3>Nos Héros</h3>
			<p>Nos héros viennent de tous horizons et possèdent des capacités extraordinaires. Qu'il s'agisse de force surhumaine ou d'une intelligence exceptionnelle, chaque héros apporte quelque chose d'unique à notre équipe.</p>
		</div>
		<div class="col-md-4">
			<h3>Rejoignez-nous</h3>
			<p>Vous pensez avoir ce qu'il faut pour être un Super Légume? Nous sommes toujours à la recherche de nouveaux talents pour rejoindre notre équipe de héros extraordinaires!</p>
		</div>
	</div>
{% endblock %}
