{% extends 'base.html.twig' %}

{% block title %}Nouvelle Mission
{% endblock %}

{% block body %}
	<h1>Créer une nouvelle Mission</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-primary">Créer</button>
	{{ form_end(form) }}

	<a href="{{ path('app_missions_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
