<form method="post" action="{{ path('app_heros_delete', {'id': hero.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce héros ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hero.id) }}">
	<button class="btn btn-danger">Supprimer</button>
</form>
