{% extends 'base.html.twig' %}

{% block title %}Nos Héros - Super Légumes
{% endblock %}

{% block body %}
	<h1>Nos Héros</h1>
	<!-- Le contenu de la page sera ajouté ici plus tard -->
{% endblock %}
